{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Items{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">
          Items in {{ container.name }}
        </h1>
        {% if container.items[0] %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
            	<tr>
	              <th width="15%"> Name </th>
	              <th width="20%"> Description </th>
	              <th width="10%"> Quantity </th>
	              <th width="15%"> Reservation Count </th>
                </tr>
              </thead>
              <tbody>
              {% for item in container.items %}
                <tr>
                  <td>
                    {{ item.name }}
                  </td>
                  <td> {{ item.description }} </td>
                  <td> {{ item.quantity }} </td>
                  <td>
                    {% if item.reservations %}
                    <a href="{{ url_for('admin.list_reservations', type_code=0, object_id=item.id) }}">
                      {{ item.reservations.count() }}
                    </a>
                    {% else %}
                      0
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> This container has no items. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_item') }}" class="btn btn-default btn-lg btn-fixed">
            <i class="fa fa-plus"></i>
            Add Item
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}