{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Items{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
	<div class="middle">
	  <div class="inner">
		<br/>
		{{ utils.flashed_messages() }}
		<br/>
		<h1 style="text-align:center;">
		  Items in {{ unit.name }}
		</h1>
		{% if unit.items[0] %}
		  <hr class="intro-divider">
		  <div class="center">
			{% for shelf in unit.shelves %}
			  <h3 style="text-align:left"> {{shelf.name}} </h3>
			  {% if shelf.items[0] %}
			  <table class="table table-striped table-bordered">
				<thead>
				  <tr>
				    <th width="15%"> Name </th>
				    <th width="20%"> Description </th>
  				    <th width="10%"> Quantity </th>
				    <th width="15%"> Reservation Count </th>
				    <th width="10%"> Remove </th>
				    <th width="15%"> Edit </th>
				    <th width="15%"> Delete </th>
				  </tr>
			    </thead>
			    <tbody>
			    {% for item in shelf.items %}
				  <tr>
				    <td>
					  {{ item.name }}
				    </td>
				    <td> {{ item.description }} </td>
				    <td> {{ item.quantity }} </td>
				    <td>
					  {% if item.reservations %}
					  <a href="{{ url_for('admin.list_reservations', type_code=0, object_id=item.id) }}">
					    {{ item.reservations.count() }}
					  </a>
					  {% else %}
					    0
					  {% endif %}
				    </td>
				    <td>
					  <a href="{{ url_for('admin.remove_item', item_id=item.id) }}">
					    <i class="fa fa-delete"></i> Remove
					  </a>
				    </td>
				    <td>
					  <a href="{{ url_for('admin.edit_item', id=item.id) }}">
					    <i class="fa fa-pencil"></i> Edit
					  </a>
				    </td>
				    <td>
					  <a href="{{ url_for('admin.delete_item', id=item.id) }}">
					    <i class="fa fa-trash"></i> Delete
					  </a>
				    </td>
				  </tr>
			    {% endfor %}
			    </tbody>
			  </table>
			  {% else %}
		  	  	<div style="text-align: center">
				<h3> This shelf has no items. </h3>
				<hr class="intro-divider">
			  {% endif %}
			  {% endfor %}
		  </div>
		  <div style="text-align: center">
		{% else %}
		  <div style="text-align: center">
			<h3> This unit has no items. </h3>
			<hr class="intro-divider">
		{% endif %}
		  <a href="{{ url_for('admin.add_item') }}" class="btn btn-default btn-lg btn-fixed">
			<i class="fa fa-plus"></i>
			Add Item
		  </a>
		</div>
	  </div>
	</div>
  </div>
</div>
{% endblock %}